@font-face {
    font-family: "museosans";
    src: url("../fonts/museosans.otf");
}

@font-face {
    font-family: "consolas";
    src: url("../fonts/consolas.ttf");
}

@font-face {
    font-family: "RobotoSlab";
    font-weight: 100;
    src: url("../fonts/RobotoSlab-Light.ttf");
}

@font-face {
    font-family: "RobotoSlab";
    font-weight: 400;
    src: url("../fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab";
    font-weight: 500;
    src: url("../fonts/RobotoSlab-Medium.ttf");
}

@font-face {
    font-family: "RobotoSlab";
    font-weight: 600;
    src: url("../fonts/RobotoSlab-SemiBold.ttf");
}

@font-face {
    font-family: "RobotoSlab";
    font-weight: 700;
    src: url("../fonts/RobotoSlab-Bold.ttf");
}
